.assignment-card-container {
  width: 700px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: left;
}

img {
  width: 30px;
  height: auto;
}
