
.s-up-form{
    padding-top: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding: 1rem 2rem;
    border: 2px solid #2b60ec;
    border-radius: 10px;
    background-color: #faf9f9;;
}

.s-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}
.s-up-input{
        color: black;
        outline: none;
        border: 0.5px solid #2b60ec;
        border-radius: 5px;
        padding: 3%;
        font-size: medium;
        width: 75%;
        z-index: 2;
}
.part{
    margin-top: 2%;
    gap: 5px;
    font-size: large;
    justify-self: flex-start;
    align-self: flex-start;
}
.submit-button{
    margin-top: 5%;
    justify-self: center;
    align-self: center;
    padding: 0.5rem 0.25rem;
    border-radius: 5px;
    background-color: white;
    font-weight: 800;

}