.google-meet {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px !important;
  border-radius: 10px;
  border: 1px solid rgb(43, 96, 236);
  padding: 10px;
}

.google-meet-top > div:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.google-meet-logo {
  width: 25px;
  height: 25px;
}

.google-meet-logo img {
  width: 100%;
}

.google-meet button {
  border-radius: 5px;
  padding: 8px 10px;
  background-color: rgb(1, 19, 72);
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.google-meet button:hover {
  background-color: rgb(39, 36, 236);
}
