.datacard-container {
  width: 100%;
  height: 200px;
  border: 2px solid rgb(39, 93, 255);
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  gap: 10%;
}

.datacard-container:hover {
  box-shadow: 0 0 10px rgba(39, 93, 255, 0.5);
}

.chart-container {
  width: 200px;
  height: 180px;
}
