.course-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    min-height: 150px;
    grid-row-gap: 10px;
    border: 2px solid black ;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
}

h3 { 
    padding: 0;
    margin: 0;
}

.course-image{
    width: 200px;
    height: 200px;
    object-fit: contain;
}